---
import FormattedDate from "../../components/FormattedDate.astro";
import { Image } from "astro:assets";
import { ChevronRight } from  '@lucide/astro';
const { id, data, slug = "/blog", date = true, book = false } = Astro.props;
---

<article
  class="group h-full flex flex-col gap-3 border-2 border-main-200 overflow-hidden rounded-xl"
>
  {
    data.heroImage && (
      <div class="grid">
        <a href={`${slug}/${id}`} class="[grid-area:1/1/2/2]">
          {typeof data.heroImage === 'string' ? (
            <img src={data.heroImage} alt={data.title} class="aspect-2/1 w-full h-auto object-cover" />
          ) : (
            <Image
              src={data.heroImage}
              alt={data.title}
              width="500"
              height="250"
              format="webp"
              quality={45}
              class="aspect-2/1 w-full h-auto object-cover"
            />
          )}
        </a>
      </div>
    )
  }

  <div
    class="text-center w-full flex-1 flex flex-col justify-between items-center p-4"
  >
    <p
      class="flex flex-wrap gap-2 gap-x-4 items-center uppercase justify-center text-sm mb-4 text-gray-500 font-medium"
    >
      {date && <time datetime={data.pubDate.toISOString()}>
        <FormattedDate date={data.pubDate} />
      </time>}
    </p>
    <a href={`${slug}/${id}`} class="flex-1 flex flex-col justify-between w-full">
      <h3 class="font-semibold text-xl sm:text-2xl group-hover:underline">
        {data.title}
      </h3>
      <p class="mb-6 text-sm sm:text-base">{data.description}</p>

      <button
        class="btn btn-outline border-2 border-main-200 text-main-200  rounded-lg hover:bg-main-200 hover:text-white w-full mt-auto"
      >
        Read more
        <ChevronRight size={16} />
      </button>
    </a>
	{book && <a href="/contact" class="mt-5 btn bg-[linear-gradient(125deg,var(--color-main-100),var(--color-main-200))] text-white border-0 shadow-xl hover:shadow-2xl w-full">Hubungi Kami</a>}
  </div>
</article>