---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import Layout from "./MainLayout.astro";
import { ChevronRight } from  '@lucide/astro';

type Props = CollectionEntry<"blog">["data"] & {
  breadcrumbParent?: string;
  date?: boolean;
  book?: boolean;
};

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  breadcrumbParent,
  date = true,
  book=false
} = Astro.props;
---

<Layout title={title} description={description} image={heroImage}>
  <div class="container py-5 lg:py-15">
    <div class="breadcrumbs text-sm mb-5">
      <ul class="flex! flex-wrap">
        <li><a href="/">Home</a></li>
        <li><a href="./">{breadcrumbParent}</a></li>
        <li>{title}</li>
      </ul>
    </div>
    <article class="text-base-content max-w-6xl mx-auto">
      <div class="text-center mb-10 mt-6">
        <div class="date text-sm font-semibold tracking-wider text-main-200 uppercase mb-4">
          {date && <FormattedDate date={pubDate} />}
          {
            updatedDate && (
              <span class="last-updated-on block mt-1 text-base-content/60 text-xs">
                (Last updated on <FormattedDate date={updatedDate} />)
              </span>
            )
          }
        </div>
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-extrabold mb-4 leading-tight tracking-tight text-base-content">{title}</h1>
        <hr class="border-base-300 w-32 mx-auto my-6 border-t-2" />
      </div>
      <div>
        {
          heroImage && (
            typeof heroImage === 'string' ? (
              <img src={heroImage} alt="" class="rounded-3xl shadow-xl aspect-[16/9] object-cover w-full mb-16 border border-base-200" />
            ) : (
              <Image
                width={1020}
                height={510}
                src={heroImage}
                format="webp"
                fetchpriority="high"
                quality="low"
                loading="eager"
                alt=""
                class="rounded-3xl shadow-xl aspect-[16/9] object-cover w-full mb-16 border border-base-200"
              />
            )
          )
        }
      </div>
      <div class="page max-w-6xl mx-auto">
        <slot />
		{book && <a href="/contact" class="mt-5 btn bg-[linear-gradient(125deg,var(--color-main-100),var(--color-main-200))] text-white border-0 shadow-xl hover:shadow-2xl w-full">Hubungi Kami <ChevronRight /></a>}
      </div>
    </article>
  </div>
</Layout>

